# Base style to use as a starting point. LLVM is commonly used in C/C++ projects.
BasedOnStyle: LLVM
IndentWidth: 2
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
AlwaysBreakAfterDefinitionReturnType: All
AlwaysBreakBeforeMultilineStrings: true
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: true
ColumnLimit: 0
CommentPragmas: true
CompactNamespaces: true
Cpp11BracedListStyle: false
DeriveLineEnding: false
DisableFormat: false
FixNamespaceComments: true
IncludeBlocks: Preserve
IncludeCategories:
  - Regex: '^<.*>'
    Priority: 2
  - Regex: '^.*'
    Priority: 3
IndentCaseLabels: true
IndentGotoLabels: false
IndentPPDirectives: BeforeHash
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 1
SortIncludes: false
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
TabWidth: 2
UseCRLF: false
UseTab: Never
